/* Quitamos los márgenes por defecto para que la web toque los bordes de la TV */

body {

    margin: 0;

    padding: 0;

    font-family: 'Arial', sans-serif;

    background-color: #000; /* Fondo negro para ahorrar energía y resaltar colores */

    color: white;

    

    /* 2. DEFINICIÓN DEL CONTENEDOR MAESTRO */

    height: 100vh; /* Ocupa el 100% de la altura de la TV */

    display: grid; /* Activamos el modo cuadrícula */

    

    /* Aquí definimos los 3 pisos*/

    grid-template-rows: 15% 55% 30%;

}



/* 3. ESTILOS DE LAS SECCIONES */



/* PISO 1: Header (Reloj y Clima) */

#seccion-superior {

    background-color: #1a1a1a; /* Gris muy oscuro */

    display: flex; /* Flexbox ayuda a alinear cosas lado a lado fácilmente */

    justify-content: space-between; /* Espacio igual entre reloj y clima */

    align-items: center; /* Centrados verticalmente */

    border-bottom: 2px solid #333;

    padding: 0 40px;

    font-size: 2rem;

    font-weight: bold;

}



/* PISO 2: Calendario */

#seccion-calendario {

    background-color: #000;

    /* Aquí el calendario ocupará todo el espacio disponible */

    display: flex;

    justify-content: center;

    align-items: center;

}



#seccion-calendario iframe {

    width: 100%;

    height: 100%;

    border: none;

    filter: invert(0.9) hue-rotate(100deg);

}



/* PISO 3: Footer Dividido */

#seccion-inferior {

    display: grid; 

    /* Dividimos este piso en 2 columnas iguales (50% y 50%) */

    grid-template-columns: 1fr 1fr; 

    border-top: 2px solid #333;

}



#frase-dia {

    background-color: #111;

    padding: 30px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;

    font-style: italic;

    font-size: 1.5rem;

    color: #ffd700; /* Color dorado para la frase */

    line-height: 1.4;

}



#carrusel {

    background-color: #222;

    display: flex;

    justify-content: center;

    align-items: center;

    overflow: hidden; /* Si la imagen es muy grande, la corta */

}



#carrusel img, #carrusel video, #carrusel iframe {

    width: 100%;

    height: 100%;

    object-fit: cover;

    border: none;

}



#clima-contenedor {

    display: flex;

    align-items:  center;

    gap: 10px;

}



#clima-icono img {

    width: 50px;

    height: 50px;

    filter: invert(1);

}



#clima-info {

    display: flex;

    flex-direction: column;

    align-items: flex-start;

    line-height: 1.1;

}



#temperatura {

    font-size: 1.8rem;

    font-weight: bold;

}



#ubicacion {

    font-size: 1rem;

    color: #ccc;



}

